DATABASE_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=
GEMINI_API_KEY=
GROQ_API_KEY=
CLOVA_OCR_API_URL=
CLOVA_OCR_SECRET_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
FRONTEND_URL=
PORT=3000
